#waves {
    display: block;
    background-color: black;
}

#bar {
    display: block;
    width: 5px;
    background-color: black;
}

canvas {
    background-color: transparent;
}
body {
    margin: 0;
}

/*html {
    background: url(moon.jpg) no-repeat center center fixed; 
    background-size: cover;

}
*/
